
<div class="progress-bar {{../../shit.colors}}" data-progressUpdate={{cGoalID}} role="progressbar" aria-valuenow="{{newAmount}}" aria-valuemin="0" aria-valuemax="{{goalAmount}}" style="width: {{newPercent}}%;"></div>
