<div class="col-md-6 col-sm-6 col-xs-6 col-mob" id="{{id}}">
  <!-- Item -->
  <div class="uis-item">
    <!-- Heading -->
    <h4>Goal {{id}} </h4>
    <!-- Progress -->
    <div class="progress" data-progressInsert={{id}}>
      <!-- Progress Bar -->
      <div class="progress-bar {{../../shit.colors}}" data-progressUpdate={{id}} role="progressbar" aria-valuenow="{{entry_amount_sum}}" aria-valuemin="0" aria-valuemax="{{goal_amount}}" style="width: {{goal_percent}}%;"></div>
    </div>
  </div>
</div>
