<div class="child-template" data-RemoveChild={{id}}>
  <!-- UI - 81 Starts -->
  <div class="ui-81">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 col-mob">
          <!-- Main Item Starts -->
          <div class="ui-item">
            <!-- User Details Starts -->
            <div class="ui-user clearfix">
              <!-- User Image -->
              <a href="#"><img src="img/ui-81/1.jpg" alt="" class="img-responsive" /></a>
              <!-- UserName And Designation -->
              <h2>
                <a href="#">{{first_name}}</a>
                <span>{{titles.two}}</span>
              </h2>
              <button type="submit" class="btn btn-red remove-child pull-right" data-childIDremove="{{id}}">Delete</button>
            </div>
            <!-- User Details Ends -->

            <!-- Skills Starts -->
            <div class="ui-skills">
              <div class="row">
                {{#each cGoals}}
                <div class="col-md-6 col-sm-6 col-xs-6 col-mob" data-RemoveGoalSummary={{id}} id="{{id}}">
                  <!-- Item -->
                  <div class="uis-item">
                    <!-- Heading -->
                    <h4>{{activities_name activity_id}} </h4>
                    <!-- Progress -->
                    <div class="progress" data-progressInsert={{id}}>
                      <!-- Progress Bar -->
                      <div class="progress-bar {{../../shit.colors}}" data-progressUpdate={{id}} role="progressbar" aria-valuenow="{{entry_amount_sum}}" aria-valuemin="0" aria-valuemax="{{goal_amount}}" style="width: {{goal_percent}}%;"></div>
                    </div>
                  </div>
                </div>
                {{/each}}
                {{!-- <div class="col-md-6 col-sm-6 col-xs-6 col-mob">
                  <!-- Item -->
                  <div class="uis-item">
                    <!-- Heading -->
                    <h4>Activity 2</h4>
                    <!-- Progress -->
                    <div class="progress">
                      <!-- Progress Bar -->
                      <div class="progress-bar bg-lblue" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-mob">
                  <!-- Item -->
                  <div class="uis-item">
                    <!-- Heading -->
                    <h4>Activity 3</h4>
                    <!-- Progress -->
                    <div class="progress">
                      <!-- Progress Bar -->
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-mob">
                  <!-- Item -->
                  <div class="uis-item">
                    <!-- Heading -->
                    <h4>Activity 4</h4>
                    <!-- Progress -->
                    <div class="progress">
                      <!-- Progress Bar -->
                      <div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                    </div>
                  </div>
                </div> --}}
              </div>
            </div>
            <!-- Skills Ends -->

          </div>
          <!-- Main Item Ends -->
        </div>

      </div>
    </div>
  </div>
  <!-- UI - X Ends -->
  {{#each cGoals}}
  <!-- UI - 179 test test test test -->
  <div class="ui-179 activity cGoal" data-childID-for-cGoal={{../id}} data-RemoveGoal={{id}}>
    <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 col-mob" id="{{id}}">
      <!-- Item Starts -->
      <div class="ui-item activity">

        <!-- User Details Starts -->
        <div class="ui-user clearfix">
          <!-- User Image -->
          <div class="pull-left">
            <a href="#"><img src="{{activities_img activity_id}}" alt="" class="img-responsive" /></a>
            <!-- UserName And Designation -->
            <h2><a href="#">{{../first_name}}: {{activities_name activity_id}}</a></h2>
          </div>
        </div>
        <!-- User Details Ends -->

        <!-- update button -->
        <a href="#" class="ui-heading clearfix update">
          <div class="update-activity pull-right">
            update <i class="fa fa-angle-down"></i>
          </div>
        </a>
        <!-- Details -->
        <div class="ui-details">

  						<!-- Add New Goal Form -->
  						<div class="ui-form">
  							<form>
  								<!-- Goal -->
  								<div class="form-group">

                    <!-- UI X -->
                  		<div class="ui-42">

                  			<div class="container">

                  				<div class="row">

                  					<div class="col-md-6">

                  					</div>
                  				</div>
                  			</div>
                  		</div>


  								</div>

                  <!-- record time/amount -->
  								<div class="form-group">
  									<input type="reward" class="form-control update-goal" data-cGoalIDupdate="{{id}}" placeholder="Enter Amount">
  								</div>

  								<!-- Button -->
  								<button type="submit" class="btn btn-red remove-goal" data-cGoalIDremove="{{id}}">Delete</button>
  							</form>
  						</div>
      </div>

      <!-- Item Ends -->

      <!-- Skills Starts -->
      <div class="ui-81">
        <div class="ui-item">
          <div class="ui-skills">
            <div class="row">
              <div class="col-md-10 col-sm-10 col-xs-10 col-mob">
                <!-- Item -->
                <div class="uis-item">
                  <!-- Heading -->
                  <h4>Goal</h4>
                  <!-- Progress -->
                  <div class="progress" data-progressInsert2={{id}}>
                    <!-- Progress Bar -->
                    <div class="progress-bar {{../colors}}" data-progressUpdate2={{id}} role="progressbar" aria-valuenow="{{entry_amount_sum}}" aria-valuemin="0" aria-valuemax="{{goal_amount}}" style="width: {{goal_percent}}%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Badges Starts -->
          <div class="ui-social">
            <!-- Heading -->
            <h4>Badges</h4>
            <!-- youtube -->
            <a href="#" class="ui-tootltip youtube" data-toggle="tooltip" data-placement="top" title="youtube"><i class="fa fa-youtube-square"></i></a>
            <!-- Twitter -->
            <a href="#" class="ui-tootltip" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
            <!-- LinkedIn -->
            <a href="#" class="ui-tootltip" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin linkedin"></i></a>
            <!-- Google Plus -->
            <a href="#" class="ui-tootltip" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus google-plus"></i></a>
          </div>
          <!-- Badges Ends -->
        </div>
      </div>


    </div>


  </div>

  </div>
  </div>
  </div>
  {{/each}}

  <!-- UI - 179 Add New Goal Starts -->
  <div class="ui-179 new-goal">
    <div class="container">

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 col-mob">
      <!-- Item Starts -->
      <div class="ui-item new-goal">
        <!-- Heading -->
        <a href="#" class="ui-heading clearfix">
          <!-- Left -->
          <div class="update-activity-reward">
            <h4>Add New Goal <i class="fa fa-angle-down"></i></h4>
          </div>
        </a>
        <!-- Details -->
        <div class="ui-details">

  						<!-- Add New Goal Form -->
  						<div class="ui-form">
  							<form>
  								<!-- Select the Activity -->
                  <div class="form-group">

                    <!-- UI X -->
                  		<div class="ui-42">

                  			<div class="container">

                  				<div class="row">

                  					<div class="col-md-6">
                  						<!-- Drop down menu -->
                              <div class="form-group">
                               <label for="activitySelect">Select an Activity</label>
                               <select data-childID-activity="{{id}}" class="form-control activitySelect">
                               </select>
                              </div>
                  					</div>
                  				</div>
                  			</div>
                  		</div>


  								</div>
                  <!-- Reward -->
                  <div>
                    <div class="radio btn-group">
    									<label>
    										<input type="radio" name="g1" value="minutes" checked> Record in Minutes &nbsp;
    									</label>
                      <label>
    										<input type="radio" name="g1" value="amount"> Record by Amount
    									</label>
    								</div>
                  </div>
                  <!-- record time/amount -->
  								<div class="form-group">
  									<input type="reward" class="form-control" data-gAmount="{{id}}" placeholder="Time to Goal? Reps to Goal?">
  								</div>
  								<!-- Reward -->
                  <!-- Select the Activity -->
                  <div class="form-group">
                    <input type="reward" class="form-control" data-gReward="{{id}}" placeholder="Enter the Reward">
                  </div>

  								<!-- Button -->
  								<button type="submit" data-childID-for-cGoal="{{id}}" class="btn btn-block btn-green add-cGoal">Add Goal</button>
  							</form>

      </div>
      <!-- Item Ends -->
    </div>
  </div></div></div>
  </div>
</div>
